.DS_Store
.merlin
.bsb.lock
npm-debug.log
/lib/
examples/**/lib
node_modules
log_types.txt
*.install
_esy
_build
_esy
static/codemirror-5.36.0
_old
tmp
*.vsix
examples/markdown-reason-react/
editor-extensions/vscode/*.zip
bsb_modules
