.DS_Store
.merlin
.bsb.lock
npm-debug.log
/lib/
examples/**/lib
examples/*/_build
examples/*/_opam
examples/*/node_modules
node_modules
node_modules/
log_types.txt
*.install
_esy
_build
_esy
static/codemirror-5.36.0
_old
tmp
*.vsix
examples/markdown-reason-react/
editor-extensions/vscode/*.zip
editor-extensions/vscode/src/syntaxes/out
bsb_modules
_esy/
bin.exe
ExamplesTests.exe
AllTests.exe
.test-failures
