image: Visual Studio 2017

platform:
    - x64

# Workaround for esy/esy#388
environment:
    HOME: C:\Users\appveyor

cache:
    - C:\Users\appveyor\.esy
    - examples/bs-3.1.5/node_modules/
    - examples/example-project/node_modules/
    - examples/example-es6-imports/node_modules/
    - examples/example-react/node_modules/
    - examples/example-esy-dune-project/node_modules/

install:
    # The x64 is required as a workaround for esy/esy#412
    - ps: Install-Product node 8 x64
    - npm install -g esy@0.2.9
    # Retry is necessary due to esy/esy#413 and esy/esy#414
    - appveyor-retry esy install

build_script:
    - esy build
    # Validate binary
    - _build\install\default\bin\Bin.exe --help
    - esy dune exec ExamplesTests

artifacts:
    - path: _build/default/bin/Bin.exe
      name: Windows Build
      type: File

deploy:
    - provider: GitHub
      repository: jaredly/reason-language-server
      auth_token:
          secure: uD+IOsS6NN/5Y0E6FFbEhQNWCRE7Ur5cmfPAI2auvK8OCVz1ruf0rU8v8akII9hp
      draft: false
      prerelease: false
      force_update: true
      on:
          branch: master
          appveyor_repo_tag: true
